InterfaceSoftware/__pycache__/
InterfaceSoftware/dummyData.csv
KiCad/
InterfaceSoftware/.vscode/
InterfaceSoftware/resources/__pycache__/indicatorDefinitions.cpython-311.pyc
InterfaceSoftware/resources/__pycache__/displayElements.cpython-311.pyc
InterfaceSoftware/resources/__pycache__/dataDefinitions.cpython-311.pyc
