InterfaceSoftware/.vscode/
InterfaceSoftware/resources/__pycache__/indicatorDefinitions.cpython-311.pyc
InterfaceSoftware/resources/__pycache__/displayElements.cpython-311.pyc
InterfaceSoftware/resources/__pycache__/dataDefinitions.cpython-311.pyc
/PortentaH7_Tests
*.swp
interface/data.csv
interface__pycache__/
